.CreateTodoButton{
    position: sticky;
    font-family: 'Poppins', sans-serif;
    width: 60px;
    height: 50px;
    left: 80vw;
    top: 88vh;
    border-radius: 12px;
    border: none;
    background-color: rgba(97, 115, 233, 0.767);
    box-shadow: rgb(52, 54, 56) 0px 20px 30px -10px;
    z-index: 999;
    color: white;
    font-weight: 700;
    font-size: 30px;
}