.CreateTodoButton{
    position: sticky;
    font-family: 'Poppins', sans-serif;
    width: 60px;
    height: 50px;
    left: 80vw;
    top: 89vh;
    border-radius: 12px;
    background-color: rgba(97, 115, 233, 0.767);
    box-shadow: rgb(28, 128, 228) 0px 20px 30px -10px;
    z-index: 997;
    color: white;
    font-weight: 700;
    font-size: 30px;
    transition: all ease .2s;
}

.CreateTodoButton:hover{
    transform: scale(1.1);
}

.create-todo-button__icon{
    margin-top: 5px;
}